body {
  background-image: linear-gradient(rgba(12, 3, 51, 0.4), rgba(12, 3, 51, 0.4)),
    url("../media/Background_ (3).jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}

.main_window {
  background-color: rgba(108, 103, 129, 0.5);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 90vh;
  border-radius: 5px;
  padding: 10vh;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
}

.section_1 .search_panel {
  padding-bottom: 20px;
}

.section_1 .search_panel .textarea {
  width: 80%;
  height: 40px;
  position: relative;
  border: 0;
  border-radius: 4px;
  font-size: 20px;
}

.section_1 .search_panel button {
  height: 40px;
  width: 90px;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 00;
  background-color: white;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.section_1 .search_panel button:hover {
  background-color: rgba(11, 2, 49, 0.568);
  color: white;
}

.section_1 .title_1 {
  font-size: 30px;
  font-weight: 300;
}

.section_1 .title_2 {
  font-size: 20px;
  font-weight: 300;
}

.big_icon {
  width: 20vh;
  height: auto;
}

.medium_icon {
  width: 15vh;
  height: auto;
}

.small_icon {
  width: 10vh;
  height: auto;
}

.vertical_line {
  border-right: 2px solid white;
  height: 30vh;
  padding-left: 20px;
  margin-right: 20px;
}

.horizontal_line {
  border-bottom: 2px solid white;
  width: 70vh;
  padding-top: 15px;
  margin-bottom: 15px;
}

.section_1 {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}

.main_sections {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section_2 .part_1 {
  display: flex;
  justify-content: center;
}

.section_2 .part_1 .temperature_text {
  font-size: 60px;
  font-weight: 500;
  display: flex;
  align-self: center;
}

.section_2 .clouds_text {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 5px;
}

.section_2 .part_2 {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}

.section_2 .part_2 .padding-left {
  padding-left: 30px;
}

.section_2 .the_smallest_icon {
  width: 5vh;
  height: auto;
}

.section_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.section_3 .part {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

.section_4 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.section_4 .day {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5px 10px;
}

.section_4 .day img {
  display: block;
  margin: 0 auto;
}
